<!DOCTYPE html>
   <html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TU & EU</title>
    <link rel="stylesheet" href="/static/stylelogin.css">
</head>

<body>
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
    <div class="flash-messages">
     {% for message in messages %}
        <div class="alert">{{ message }}</div>
     {% endfor %}
    </div>
      {% endif %}
    {% endwith %}

        <form action="{{ url_for('auth.logar') }}" method="post">
            <a href="{{ url_for('admin.index') }}" ><img src="/static/img/logotueeu.png" alt="Logo" class="logo"></a>
            <h2>Login</h2>            
            <div class="input-field">
                <input type="email" name="email" required />
                <label>Insira o e-mail</label>
            </div>
            <div class="input-field">
                <input type="password" name="senha" required />
                <label>Insira a senha</label>
            </div>
            <div class="forget">
                <a href="{{ url_for('auth.recuperar_senha') }}">Esqueceu sua senha?</a>

            </div>
            <br><br>

            <button type="submit">Login</button>
            <br><br>

            <div class="Create-account">
                <p>Não tem uma conta? <a href="{{ url_for('auth.cadastro') }}">Cadastre-se</a></p>
            </div>
        </form>
    </div>
</body>
</html>
