@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

/* -------------------- VARIÁVEIS CSS -------------------- */
:root {
  --header-height: 3.5rem;

  /* Cores */
  --first-color: hsl(266, 97%, 15%);
  --title-color: hsl(0, 0%, 5%);
  --text-color: hsl(230, 12%, 40%);
  --body-color: hsl(230, 100%, 98%);
  --container-color: hsl(240, 100%, 100%);
  --border-color: hsl(0, 0%, 100%);

  /* Fontes */
  --body-font: "Open Sans", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Camadas */
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Ajustes para telas maiores */
@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/* -------------------- RESET CSS -------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}

/* -------------------- BODY -------------------- */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: url("./img/wallpaperants.png"), #000;
  background-position: center;
  background-size: cover;
}

/* -------------------- CONTAINER -------------------- */
.container {
  width: 45%;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(7px);
}

/* -------------------- FORMULÁRIO -------------------- */
form {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 120px; 
  display: block;
  margin: 0 auto 20px; 
}

/* -------------------- TEXTOS -------------------- */
h1, h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

p, .forget, .Create-account {
  color: #fff;
}

.forget{
  text-align: left;
}

.container a {
  color: #efefef;
}

/* -------------------- CAMPOS DE INPUT -------------------- */
.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  font-size: 0.8rem;
  top: 10px;
}

/* -------------------- BOTÕES -------------------- */
button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}
/*mensagens de alerta*/
.alert{
  color: #fff;
}

.alert.erro {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

.alert.sucesso {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}
