<!DOCTYPE html>
   <html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/static/styleindex.css">
      <link rel="icon" type="image/png" href="/static/img/tueeulogoicon.ico">
      <link rel="stylesheet" href="https://public.codepenassets.com/css/normalize-5.0.0.min.css">

      <title>Tu & Eu</title>
   </head>
   <body>
      <!--==================== HEADER ====================-->
      <header class="header" id="header">
         <nav class="nav container">
            <a  class="nav__logo">
               <img src="/static/img/logotueeu.png" alt="Logo">
            </a>
            
            <div>
               <marquee direction="left">
                  Conectando talentos, trocando serviços!
               </marquee>
            </div>
            <div class="nav__menu" id="nav-menu">
               <ul class="nav__list">
                  <li class="nav__item">
                     <a href="#" class="nav__link">Início</a>
                  </li>

                  <li class="nav__item">
                     <a href="#" class="nav__link">Sobre nós</a>
                  </li>

                  <li class="nav__item">
                     <a href="#" class="nav__link">Serviços</a>
                  </li>
               </ul>
            </div>
            <a href="{{ url_for('login') }}"><button type="submit" class="login__button">Login</button></a>
            <a href="{{ url_for('cadastro') }}"><button type="submit" class="login__button">Cadastro</button></a>
         </form>
   </body>
</html>
